.Rproj.user
.Rhistory
.RData
.Ruserdata

data/*
output/ccl4_experiment/*.rds
output/zonation/*.rds
output/zonation/halpern/*.rds
output/zonation/individual_gene_sets/*.rds
fig/*
paper/*
paper/material*
analyses/*misc*
analyses/create_additional_files.Rmd
slides/
*html
